*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

:root {
  --primary: #1c1c1c;
  --accent: #00ff9d;
  --light: #f4f4f4;
  --saturated-accent: #006b42;
  --darker-accent: #0d4f3c;
  --gray: #888888;
  --border: #e0e0e0;
}

body{
  background: var(--primary);
  color: var(--light);
  font-size: 16px;
}

.container{
  width: 90%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  border: .5px solid var(--accent);
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-primary{
  color: var(--accent);
  background-color: transparent;
}

.btn-primary:hover{
  background-color: var(--accent);
  color: var(--primary);
}

.btn-secondary{
  color: var(--primary);
  background-color: var(--accent);
  border-color: var(--accent);
  transition: all 0.4s ease;
}

.btn-secondary:hover{
  background-color: var(--primary);
  /* border-color: var(--saturated-accent); */
  color: var(--light);
}

input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: transparent;
  color: var(--light);
  font-size: 1rem;
}

textarea{
  width: 100%;
  height: 150px;
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.1); */
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 5px;
  background: transparent;
  color: var(--light);
  font-size: 1rem;
  resize: none;
}

input:focus, textarea:focus{
  outline: none;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--accent);
  margin-bottom: 20px;
}

/* Header Section */

header {
  width: 100%;
  padding: 40px 5%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0 20px;
}

nav .logo{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: 600;
  color: var(--accent);
}

nav .contact-link {
  color: var(--accent);
  padding: 10px 20px;
  border: 1px solid var(--accent);
  border-radius: 25px;
  text-transform: uppercase;
}

/* Hero section */

.hero{
  display: grid;
  grid-template-columns: .5fr 1fr;
  align-items: center;
  column-gap: 50px;
  margin-inline: auto;
  
}

.hero-image {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  /* max-width: 60%; */
  /* height: 200px; */
  border-radius: 5px;
  object-fit: cover;
}  

.hero-text h1{
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--accent);
  line-height: 1.2;
}

.hero-text h1 span{
  color: var(--saturated-accent);
}

.hero-text .tagline{
  font-size: 1.5rem;
  margin-block: 10px;
  font-weight: 400;
  color: var(--gray);
}

.social-links{
  margin: 30px 0;
}

.social-links a{
  color: var(--accent);
  font-weight: 500;
  margin-right: 10px;
  transition: color 0.3s ease;
  padding-right: 10px;
  border-right: 1px solid var(--accent);
}

.social-links a:last-child{
  border-right: none;
  padding-right: 0;
}

.social-links a:hover{
  color: var(--saturated-accent);
}

.hero-text .btn{
  margin-right: 10px;
}

/* About Section */

.about {
  width: 100%;
  background: var(--darker-accent);
  margin: 100px 0;
  padding-block: 50px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--light);
}

.about-text p {
  margin-bottom: 20px;
}

.technical-skills h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--accent);
  margin-bottom: 20px;
}

.technical-skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.technical-skills-grid .skill {
  background-color: var(--saturated-accent);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: var(--light);
  transition: all 0.3s ease;
}

.technical-skills-grid .skill:hover {
  color: var(--accent);
  transform: translateY(-5px);
}

/* Education Section */

.education{
  margin: 100px 0;
}

.qualification{
  max-width: 1000px;
  margin-inline: auto;
  
}

.qualification-item{
  position: relative;
  border-left: 3px solid var(--darker-accent);
  margin-left: 20px;
  padding: 20px 40px 40px;
}

.qualification-item::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--accent);
  border-radius: 50%;
  left: -12px;
  top: 32px;
}

.qualification-item h3{
  font-size: 2rem;
  font-weight: 600;
  color: var(--saturated-accent);
  margin-bottom: 20px;
}

.timeline-date{
  display: inline-block;
  background: var(--accent);
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: 25px;
  color: var(--primary);
}

.qualification-item h4{
  font-size: 1.6rem;
  color: var(--darker-accent);
  margin-bottom: 10px;
}

.qualification-item p{
  color: var(--gray);
  margin-bottom: 10px;
}

.qualification-item ul{
  list-style-position: inside;
}

.qualification-item ul li {
  color: var(--gray);
}

/* Projects Section */

.projects{
  background: var(--darker-accent);
  margin: 100px 0;
  padding-block: 50px;
}

.projects-grid{
  display: grid;
  gap: 60px;
}

.project{
  background: var(--primary);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  /* border: 1px solid var(--border); */
}

.project-image{
  width: 100%;
  height: 300px;
  background: linear-gradient(135deg, var(--accent),var(--darker-accent));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.project-content{
  margin: 40px;
}

.project-content h3{
  font-size: 2rem;
  font-weight: 600;
  color: var(--saturated-accent);
}

.project-description{
  margin-block: 20px;
  color: var(--gray);
}

.project-tech .tech-tag{
  display: inline-block;
  background: var(--accent);
  padding: 5px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  color: var(--primary);
}

.project-links{
  display: flex;
  gap: 20px;
}

.project-link{
  color: var(--accent);
  font-weight: 600;
  transition: all 0.3s ease;
}

.project-link:hover{
  color: var(--saturated-accent);
}

/* Contact Section */

.contact{
  margin: 100px auto;
  max-width: 600px;
}

.contact .section-title{
  text-align: center;
}

.contact p{
  font-size: 1.2rem;
  text-align: center;
  color: var(--gray);
  margin-bottom: 50px;
}

.contact-form{
  display: grid;
  gap: 20px;
}

.contact-form .form-row{
  display: flex;
  gap: 20px;
}

.form-item label{
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-form .btn{
  display: inline-block;
  margin-inline: auto;
}

/* Footer Section */

footer{
  border-top: 1px dotted var(--gray);
  margin-bottom: 50px;
  text-align: center;
}

footer .social-links a{
  color: var(--light);
  border: none;
}

footer p{
  color: var(--gray);
}


/* Responsive Design */
@media (max-width: 768px) {

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  header{
    padding: 20px 5%;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid var(--accent);
    margin-bottom: 20px;
    object-fit: cover;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .about-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  
}